{% extends "base.html" %}
{% block title %}Đổi mật khẩu{% endblock %}
{% block noi_dung %}
<div class="the dang-nhap">
  <h1>Đổi mật khẩu</h1>
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrf_token() }}">
    <label>Mật khẩu hiện tại<br><input type="password" name="mat_khau_cu" required autocomplete="current-password"></label>
    <label>Mật khẩu mới (ít nhất 10 ký tự)<br><input type="password" name="mat_khau_moi" required minlength="10" autocomplete="new-password"></label>
    <button type="submit">Lưu</button>
  </form>
</div>
{% endblock %}
